# Dumped Wz Xml files
/wz/*

/logs/*

# NetBeans specific
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag